**.log
.classpath
.project
bin
/lib/fba
/lib/sysbio.jar
cplex*.jar
libquaqua64.dylib
libquaqua64.jnilib
.settings
.DS_Store
**.aux
**.bbl
**.blg
**.idx
**.ilg
**.ind
**.lof
**.lol
**.lot
**.out
**.synctex.gz
**.synctex
**.toc
**.bak
**.sav
Statistics.ser
dist/build
